.rent-highlight {
	color: green;
}

.error {
	color: red;
}

html, body, h1, h2, h3, h4, h5, h6 {
	font-family: "Roboto", sans-serif;
}

.w3-sidebar {
	z-index: 3;
	width: 250px;
	top: 43px;
	bottom: 0;
	height: inherit;
}

.flatName {
	text-align: center;
	color: blue;
	font-weight: bold;
}

.div1 {
	width: 50%;
	height: 250px;
	float: left;
}

.div2 {
	width: 50%;
	height: 250px;
	float: right;
}

#year {
	color: white;
	text-align: center;
}

#copywright {
	text-align: center;
}

.allOffers {
	color: red;
	text-align: center;
}

.ferror {
	color: red;
}

.FlatButton {
	float: right
}

.comments {
	color: red;
	text-align: center;
}

.speech-bubble {
	position: relative;
	width: 200px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	background-color: #fff;
	border: 8px solid #666;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 2px 2px 4px #888;
	-moz-box-shadow: 2px 2px 4px #888;
	box-shadow: 2px 2px 4px #888;
}

.ratebox {
	position: absolute;
	left: 1000px;
	width: 200px;
	height: 70px;
	border: solid black;
	overflow: hidden;
	background-color: #5f9ea0;
}

.ratenum {
	position: absolute;
	left: 100px;
	width: 20%;
	font-size: 35px;
	color: white;
}

.ratecount {
	position: absolute;
	top: 45px;
	font-size: 15px;
	color: white;
}